---
import Layout from "../../layouts/Layout.astro";
import ContentCard from "../../components/ContentCard.astro";
import { getCollection } from "astro:content";

interface BlogPost {
  data: {
    title: string;
    description: string;
    pubDate: string;
    featured: boolean;
  };
  slug: string;
}

const posts = (await getCollection("blog")) as BlogPost[];

const sortedPosts = posts.sort((a, b) => {
  if (a.data.featured !== b.data.featured) {
    return a.data.featured ? -1 : 1;
  }
  return (
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
});

const featuredPosts = sortedPosts.filter((post) => post.data.featured);
const regularPosts = sortedPosts.filter((post) => !post.data.featured);
---

<Layout title="Blog | Kurtis Kemple" intensity="subtle">
  <div class="flex flex-col">
    <div class="container mx-auto px-4 md:px-0 py-8 flex-grow">
      <h1 class="text-5xl mt-8 mb-16 text-honey-crusted-chicken">
        Writings & Musings
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          featuredPosts.length > 0 && (
            <section class="col-span-full">
              <h2 class="text-3xl mb-8">Featured Posts</h2>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {featuredPosts.map((post) => (
                  <ContentCard
                    slug={`/blog/${post.slug}`}
                    title={post.data.title}
                    description={post.data.description}
                  />
                ))}
              </div>
            </section>
          )
        }

        {
          featuredPosts.length > 0 && regularPosts.length > 0 && (
            <div class="my-12 flex justify-center col-span-full">
              <div class="w-1/2 h-1 bg-honey-crusted-chicken rounded-full" />
            </div>
          )
        }

        {
          regularPosts.map((post) => (
            <ContentCard
              slug={`/blog/${post.slug}`}
              title={post.data.title}
              description={post.data.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
