---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  frontmatter: {
    description: string;
    image: string;
    title: string;
    pubDate: string;
  };
}

const { frontmatter } = Astro.props;

function formatDate(dateString: string) {
  const date = new Date(dateString);

  const formatter = new Intl.DateTimeFormat("en-US", {
    month: "long",
    day: "numeric",
    year: "numeric",
  });

  const parts = formatter.formatToParts(date);
  const month = parts.find((part) => part.type === "month")?.value ?? "";
  const day = parts.find((part) => part.type === "day")?.value ?? "";
  const year = parts.find((part) => part.type === "year")?.value ?? "";

  return `${month} ${day}${getOrdinalSuffix(Number.parseInt(day))}, ${year}`;
}

function getOrdinalSuffix(day: number) {
  const suffixes = ["th", "st", "nd", "rd"];
  const v = day % 100;
  return suffixes[(v - 20) % 10] || suffixes[v] || suffixes[0];
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Basic metadata -->
    <title>{`${frontmatter.title} | Kurtis Kemple`}</title>
    <meta name="description" content={frontmatter.description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={`${frontmatter.title}`} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:image" content={new URL(frontmatter.image, Astro.url)} />
    <meta property="og:site_name" content="Kurtis Kemple" />

    <!-- Twitter -->
    <meta name="twitter:creator" content="@_digitalvandal" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={`${frontmatter.title}`} />
    <meta property="twitter:description" content={frontmatter.description} />
    <meta
      property="twitter:image"
      content={new URL(frontmatter.image, Astro.url)}
    />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{frontmatter.title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet prefetch"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      rel="stylesheet prefetch"
    />
  </head>
  <body class="font-sans bg-naval min-h-screen">
    <div class="relative min-h-screen overflow-hidden">
      <Header />

      <main class="pt-24 md:pt-32 max-w-xl mx-auto px-8 md:px-6 lg:px-0">
        <h1
          class="text-4xl md:text-5xl text-honey-crusted-chicken mb-12"
          style="line-height: 1.1 !important;"
        >
          {frontmatter.title}
        </h1>
        <span class="block mb-8 text-autumn-fire font-bold">
          {formatDate(frontmatter.pubDate)}
        </span>
        <div class="blog-post mb-16 rounded-lg">
          <slot />
        </div>
      </main>

      <Footer />
    </div>
  </body>
</html>
