---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const frontmatter = {
  description:
    "Discover the intersection of technology, creativity, and social impact with Kurtis Kemple. Senior Director of DevRel at Slack, photographer, and advocate for second chances. Explore insights on developer relations, AI, and building inclusive tech communities.",
  image: "/images/og/home.png",
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Basic metadata -->
    <title>{`${title}`}</title>
    <meta name="description" content={frontmatter.description} />

    <!-- Open Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={`${title}`} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:image" content={new URL(frontmatter.image, Astro.url)} />
    <meta property="og:site_name" content="Kurtis Kemple" />

    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet prefetch"
    />
  </head>
  <body class="font-sans bg-naval text-charcoal min-h-screen">
    <div class="relative min-h-screen overflow-hidden">
      <Header />

      <main class="max md:py-8 lg:py-16 xl:py-24">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
